{% extends "layout.html" %}

{% block title %}Fundraiser Created{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div class="container">

  <h1>Fundraiser</h1>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ fundraiser.name }}</h4>
      <p class="card-text">{{ fundraiser.description }}</p>
      <p class="text-muted">
        End Date: {{ fundraiser.end_date.strftime("%B %d, %Y") }}<br>
        Target Funds: {{ fundraiser.target_funds | currency_format }}<br>
        Funds Raised: <span id="funds-raised">{{ fundraiser.funds_raised | currency_format }}</span>
      </p>
    </div>
  </div>
  <h2>Update Message</h2>

  <form method="POST" id="update-form">
    <input type="hidden" id="fundraiser-id" name="fundraiser_id" value="{{ fundraiser.id }}">

    <div class="form-group">
      <label for="message">Message:</label>
      <textarea class="form-control" id="message" name="message" rows="5"></textarea>
    </div>

    <button id="update-button" type="button" class="btn btn-primary">Update</button>
  </form>

</div>
{% endblock %}