{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1>Introducing Toa!</h1>
  <p class="lead">The all-in-one platform that makes community fundraising a breeze</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">Start Fundraising</a>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Struggling to keep track of donations?</h2>
    <p>Drowning in receipts for your community bake sale? We get it. Toa simplifies community fundraising, bringing transparency and ease to every campaign.</p>
  </div>
</div>

{% endblock %}