{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/logo.png" alt="" width="72">
    <h1 class="display-5 fw-bold">Toa</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The easiest way to organize group donations and fundraisers</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start a Fundraiser</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
      </div>
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="https://user-images.githubusercontent.com/45781770/213941365-ec751bac-07d0-405a-868a-d00b0b6af0ab.png" class="d-block mx-lg-auto img-fluid" alt="Fundraising illustration" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h2 class="display-5 fw-bold lh-1 mb-3">Transparent and Effective Fundraising</h2>
    <p class="lead">Quickly build an online fundraiser, easily track donations, and rally your community using Toa's user friendly platform.</p>
  </div>
</div>

{% endblock %}