{% extends "layout.html" %}

{% block title %}Fundraiser Report{% endblock %}

{% block content %}
    <script src="/static/js/report.js" type="module"></script>
<div class="container">

    <h1>Report</h1>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ fundraiser.name }}</h4>
      <p class="card-text">{{ fundraiser.description }}</p>
      <p class="text-muted">
        End Date: {{ fundraiser.end_date.strftime("%B %d, %Y") }}<br>
        Target Funds: {{ fundraiser.target_funds | currency_format }}<br>
        Funds Raised: {{ fundraiser.funds_raised | currency_format }}
      </p>
    </div>
  </div>

  <h2>Fundraiser Report</h2>

  <table id="contributions-table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Contributor</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Time</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for contribution in contributions %}  <tr>
        <td>{{ contribution.contribution_reference }}</td>
        <td>{{ contribution.contributor_name }}</td>
        <td>{{ contribution.amount|currency_format }}</td>
        <td>{{ contribution.contribution_date }}</td>
        <td>{{ contribution.contribution_time }}</td>
        <td>{{ contribution.timestamp }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if contributions.has_prev %}
      <li class="page-item">
        <a class="page-link"
          href="{{ url_for('report', fundraiser_id=fundraiser.id, page_number=contributions.prev_num) }}">Previous</a>
      </li>
      {% endif %}
  
      {% for page in range(1, total_pages + 1) %}
      {% if page == current_page %}
      <li class="active"><a href="#">{{ page }}</a></li>
      {% else %}
      <li>
        <a href="{{ url_for('report', fundraiser_id=fundraiser.id, page_number=page) }}">{{ page }}</a>
      </li>
      {% endif %}
      {% endfor %}
  
      {% if contributions.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="{{ url_for('report', fundraiser_id=fundraiser.id, page_number=contributions.next_num) }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <button id="download-pdf">Download PDF</button>

  <pre id="contributions-data" style="display: none;">{{ contributions|tojson }}</pre>  </div>
{% endblock %}
